@page "/404"

<PageTitle>404</PageTitle>

<MudContainer MaxWidth="MaxWidth.Medium" Class="d-flex align-center" Style="height: 50vh;">
    <div class="d-flex flex-column mud-width-full">
        <MudPaper Elevation="25" Class="pa-8" Width="100%" MaxWidth="900px">
             <MudText Typo="Typo.h3" GutterBottom="true">404</MudText>
            <MudText Typo="Typo.h4" GutterBottom="true">@localizer.Get("Sorry, the page you visited does not exist.")</MudText>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Link="/" Size="Size.Small"  Class="mt-2">@localizer.Get("Back to Home")</MudButton>
        </MudPaper>
    </div>
</MudContainer>
