body {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    margin: 0;
    text-align: var(--bs-body-text-align);
}


.authentication-bg.enlarged { min-height: 100px; }

.bg-pattern {
    background-image: url("../images/bg-pattern-2.png");
    background-size: cover;
}

body.authentication-bg {
    background-color: #6658dd;
    background-position: center;
    background-size: cover;
}

body.authentication-bg-pattern { background-image: url("../images/bg-pattern.png"); }

.logout-icon { width: 140px; }

.auth-fluid {
    align-items: center;
    align-items: stretch;
    /*background: url("../images/bg-auth.jpg") center;*/
    background-size: cover;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    position: relative;
}

.auth-fluid .auth-fluid-form-box {
    background-color: #ffffff;
    border-radius: 0;
    max-width: 480px;
    padding: 3rem 2rem;
    position: relative;
    width: 100%;
    z-index: 2;
}

.auth-fluid .auth-fluid-right {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    flex: 1;
    padding: 6rem 3rem;
    position: relative;
}

.auth-brand { margin-bottom: 2rem; }

.auth-user-testimonial {
    bottom: 3rem;
    left: 0;
    margin: 0 auto;
    padding: 0 1.75rem;
    position: absolute;
    right: 0;
}

.auth-user-testimonial p.lead {
    font-size: 1.125rem;
    margin: 0 auto 20px auto;
    max-width: 700px;
}

@media (min-width: 992px) {
    .auth-brand {
        position: absolute;
        top: 3rem;
    }
}

@media (max-width: 991.98px) {
    .auth-fluid { display: block; }

    .auth-fluid .auth-fluid-form-box {
        max-width: 100%;
        min-height: 100vh;
    }

    .auth-fluid .auth-fluid-right { display: none; }
}

.auth-logo .logo-light { display: none; }

.auth-logo .logo-dark { display: block; }