@inherits LayoutComponentBase

<MudThemeProvider/>
<style>
    html, body {
        zoom: 1 !important;
        -moz-transform: scale(1) !important;
    }
    .version-info {
        position: absolute;
        bottom: 10px;
        left: 10px; /* Changed from right to left */
        font-size: 12px;
        color: black; /* Changed color to black */
        z-index: 1000; /* Added z-index to bring to foreground */
    }
</style>
<body class="loading auth-fluid-pages pb-0">

<div class="auth-fluid" style="background: url('/images/LoginBase.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover">
    <div class="auth-fluid-form-box">
        <div class="text-center">
            <img src="@_appConst?.ApplicationLogo" alt="" style="max-height: 150px; max-width: 95%;">
            <br/>
            <span class="b-title" style="font-size: 30px">@_appConst?.ApplicationName</span>
        </div>
        <div class="align-items-center d-flex h-75">
            <div class="card-body">
                @Body
            </div>
        </div>
    </div>
    <div class="auth-fluid-right text-center">
    </div>
</div>
<div class="version-info">
    Version: @ApplicationInfo.ApplicationVersion
</div>
</body>

@code{
    private ApplicationConstantsValues? _appConst;

    protected override async Task OnInitializedAsync()
    {
        _appConst = await AppService.GetApplicationConstantsValues();
    }

}