
<div class="form-group">
    <p style="color:red">@QueryTestResult</p>
</div>
@if (TestResult)
{
    <MudTable Items="_values?.Select(a => a.Values).ToList()" Virtualize="true" Hover="true" Dense="true" Height="400px" FixedHeader="true" HorizontalScrollbar="true">
        <HeaderContent>
            @if (_values?.Any() == true)
            {
                @foreach (var key in _values?.FirstOrDefault()?.Keys!)
                {
                    <MudTh>@key</MudTh>
                }
            }
        </HeaderContent>
        <RowTemplate>
            @if (_values?.Any() == true)
            {
                @foreach (var t in context)
                {
                    @if (t.ToString() == "{}")
                    {
                        <MudTd></MudTd>
                    }
                    else
                    {
                        <MudTd>@t</MudTd>
                    }
                }
            }
        </RowTemplate>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
}
<hr />

@code {

    [Parameter] public List<Dictionary<string, object>>? Data { get; set; }
    [Parameter] public string? QueryTestResult { get; set; }
    [Parameter] public bool TestResult { get; set; }
    private List<Dictionary<string, object>>? _values = new();


    protected override void OnInitialized()
    {
        if (TestResult)
        {
            _values = Data;
        }
    }
}
