
<div class="form-group">
    <p style="color:red">@queryTestResult</p>
</div>
@if (testResult)
{
    <MudTable Items="values.Select(a => a.Values).ToList()" Virtualize="true" Hover="true" Dense="true" Height="400px" FixedHeader="true" HorizontalScrollbar="true">
        <HeaderContent>
            @if (values?.Any() == true)
        {
            @foreach (var key in values.FirstOrDefault()?.Keys)
            {
                <MudTh>@key</MudTh>
            }
        }
    </HeaderContent>
    <RowTemplate>
        @if (values?.Any() == true)
            {
            @foreach (var t in context)
                {
                <MudTd>@t</MudTd>
                }
            }
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>
}
<hr />

@code {

    [Parameter] public List<Dictionary<string, object>> data { get; set; }
    [Parameter] public string queryTestResult { get; set; }
    [Parameter] public bool testResult { get; set; }
    private List<Dictionary<string, object>> values = new();


    protected override void OnInitialized()
    {
        if (testResult)
        {
            values = data;
        }
    }
}
